root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# URLなどは分割困難で長過ぎることがあるためしばしば例外が許可されます。
# あくまで指針と各種フォーマッターへの指示です。
max_line_length = 120

# デフォルトのインデントをスペースで2幅にして例外の方を設定することにします。
# これもcheckerがインデントではないものを誤認することがあるので、
# あくまで指針と各種フォーマッターへの指示です。
indent_style = space
indent_size = 2

# 標準インデントが4の言語とGitHubがMarkdownの順序付きリストのインデントを2だと適切にパースできないことに対応。
[*.{cs,csx,java,kt,kts,md,php,py,pyi,rs}]
indent_size = 4

# 標準インデントがタブの言語。
[*.{go,make,mk},Makefile]
indent_style = tab

[*.md]
# Markdownには最後にスペース2つ入れて強制改行するシンタックスがあるので末尾のスペースを許可。
# 注意: なるべく強制改行は使わず、意味で段落して、改行位置はクライアントのデバイスに任せるべきです。
trim_trailing_whitespace = false

[*.bat]
charset = latin1
end_of_line = crlf

[*.ps1]
charset = utf-8-bom
end_of_line = crlf

[*.reg]
charset = utf-8-bom
end_of_line = crlf
