root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
# 主にprettierが過剰に改行することへの対策。
max_line_length = 120

[*.bat]
charset = latin1
end_of_line = crlf

[*.ps1]
charset = utf-8-bom
end_of_line = crlf
