name: push

on:
  workflow_dispatch:
  push:
    branches: main
  pull_request:
  merge_group:

permissions:
  contents: read # リポジトリコンテンツの読み取り

jobs:
  nix-flake-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          extra_nix_config: |
            accept-flake-config = true
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: ncaq-dotfiles
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix flake check
