name: push

on:
  workflow_dispatch:
  push:
    branches: master
  pull_request:
  merge_group:

permissions:
  contents: read # リポジトリコンテンツの読み取り

jobs:
  nix-flake-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          attic-token: "${{ secrets.ATTIC_TOKEN }}"
      - run: nix flake check

  build-home-manager:
    # 重たいビルドは未認証のソースからは実行しない。
    if: github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' ||
      github.event_name == 'merge_group' ||
      github.event.pull_request.author_association == 'OWNER'
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - system: x86_64-linux
            runner: [self-hosted, Linux, X64]
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          attic-token: "${{ secrets.ATTIC_TOKEN }}"
      - run: nix build .#homeConfigurations.${{ matrix.system }}.activationPackage

  build-nix-on-droid:
    # 重たいビルドは未認証のソースからは実行しない。
    if: github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' ||
      github.event_name == 'merge_group' ||
      github.event.pull_request.author_association == 'OWNER'
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          attic-token: "${{ secrets.ATTIC_TOKEN }}"
      # Nix-on-Droidのビルドはimpureモードで行う必要があります
      - run: nix build .#nixOnDroidConfigurations.default.activationPackage --impure
