name: push

on:
  workflow_dispatch:
  push:
    branches: master
  pull_request:
  merge_group:

permissions:
  contents: read # リポジトリコンテンツの読み取り

jobs:
  nix-flake-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-nix
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix flake check
